/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--page-font), 'Courier New', fantasy;
  background-image: var(--background-gradient);
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-block-start: 100px;
  margin-block-end: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: var(--border);
  gap: 20px;
  min-inline-size: var(--card-size);
  padding-block: clamp(120px, calc(120px + 10 * (100vw - 375px) / 1065), 128px);
}

.header_title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: var(--accent-font), Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.header_subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-family: var(--accent-font), Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}